streamlit
pymongo
python-dotenv
PyPDF2
langchain_community
langchain-google-genai
textblob
emoji
speechrecognition
faiss-cpu
#PyAudio
datetime
langchain
PyPDF2
requests
textblob
#re
torch
transformers
googletrans
googletrans==4.0.0-rc1
pdf2image
pytesseract
#tempfile
#os
PyMuPDF
pdfplumber
#tesseract-ocr
tf-keras
bcrypt
streamlit_community_navigation_bar
PyAudio